#submit_button
{
	margin-top: 20px; 
	margin-bottom: 20px; 
}
#sort_button
{
	display: none;
	margin-top: 20px; 
	margin-bottom: 20px; 
}

input
{
	margin: 10px;
}
#display_name
{
	border: 1px solid green;
    padding: 10px;
	background-color: skyblue;
	border-radius: 10px;
    width: 50%;
}

#sorted
{
	border: 1px solid red;
    padding: 10px;
    background-color:green ;
	border-radius: 10px;
    width: 50%;
}
body{
	text-align: center;
	background-image: url("https://i.pinimg.com/originals/97/1b/31/971b31ce9d2385a52f265850ad9d2536.jpg");
	color:white;
}